<div class="container">
  <div class="row">
    <div class = "col s8 offset-2">
      <div class = "card-panel teal lighten-2">
        <h4 class = "center white-text">Image LIbrary</h4>
      </div>
      <form #imageForm = ngForm>
        <div class="row">
          <div class="input-field col s12">
          <input type = "text" #Caption ngModel name = "Caption" id = "Caption">
          <label for = "Caption" ></label>
        </div>
        </div>
        <img style = "width: 250px; height : 200px">
        <input type ="file" #image accept = "image/*">
        <button type = "submit" class ="btn-large btn-submit">Submit</button>
      </form>
    </div>
  </div>
</div>
